[Unit]
Description=Node Exporter

[Service]
ExecStart=/home/prometheus/node_exporter/node_exporter-0.15.0.linux-amd64/node_exporter $OPTIONS
User=prometheus
EnvironmentFile=/etc/sysconfig/node_exporter

[Install]
WantedBy=multi-user.target
